@font-face {
  font-family: FixEmoji;
  unicode-range: U+20;
  src: local("Arial");
}
* {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
body,
html {
  font-family: FixEmoji, Roboto Mono, sans-serif;
  font-size: 16px;
  height: 95%;
  margin: 0;
  background: #f6f6f6;
  font-family: FixEmoji, Roboto Mono ,sans-serif;
  font-size: 16px;
}

#actionBoard {
  width: 720px;
  word-wrap: break-word;
  margin: 40px auto 40px;
}